* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}


header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: #eee;
  }
.header-1_logo-img {
  line-height: 76px;
  padding: 25px;
}

.header-tab{
  display: flex;
}

.header-tab li{list-style: none;
      /* width: 80%; */
      }
.header-tab a{
  text-decoration: none;
  margin-right: 15px;
  
}
@media screen and (max-width: 480px){
  .header-tab a{
      font-size: 30%;
  }
}



.sp-title{
  padding: 1em;
}

li,p,h2,h1,dt,dd,dl{
  font-family: serif;
}


.sp-purpose,.sp-guideline {
  border: solid 1px black;
  text-align: center;
  margin: 30px auto;
  width: 75%;
  padding: 0 auto;
}

.sp-purpose-theme {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;
  width: 50%;
  margin: 10px auto;
  line-height: 1;
}


.sp-purpose-txt{
  margin: 15px;
}

.sp-guideline-theme{
  border-bottom: solid 3px black;
  width: 70%;
  margin: 10px auto;
  line-height: 1;

}

.sp-guideline-txt{
  display: inline-block;
    text-align: left;
    margin: 15px;
}

@charset "UTF-8";

/*tabの形状*/
.tab{
  display: flex;
  flex-wrap: wrap;
}
.tab li a{
  display: block;
  background:#ddd;
  margin:0 2px;
  padding:10px 20px;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
  background:#fff;
}


/*エリアの表示非表示と形状*/
.area {
  display: none;/*はじめは非表示*/
  opacity: 0;/*透過0*/
  background: #fff;
  padding:50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/*========= レイアウトのためのCSS ===============*/

body{
  background:#eee;
}

ul{
  list-style:none;
}

a{
  color:#333;
  text-decoration: none;
}

.wrapper{
  width:100%;
  max-width: 960px;
  margin:30px auto;
    background:#fefefe;
}

.area h2{
  font-size:1.3rem;
  margin:0 0 20px 10px;
}

.area li{
  padding: 10px; 
  border-bottom: 1px solid #ddd;
}


.ac {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}
/***** A月 ******/
.ac-grand{
  cursor: pointer;
  background-color: rgb(205, 205, 205);
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #fff;
  transition: .3s;
  width: 70%;
  margin: 5px auto;
  font-weight: bold;

}

.ac-parent {
  height: 50px;
  line-height: 50px;
  text-align: left;
  background-color: #6b90ff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  transition: .3s;
  text-indent: 2rem;
  color: white;
}
.ac-child {
  padding: 2em 1em;
  background-color: #d3deff;
}





/********* 下層メニュー *********/
.ac-child__item {
	position: relative;
	padding: 1em;
	border-bottom: 1px solid #fff;
	background-color: #fcee88;
	cursor: pointer;
}
/* 下層メニューアイコン */
.ac-child__item:after {
	content: "";
	display: block;
	position: absolute;
	top: 40%;
	right: 16px;
	width: 8px;
	height: 8px;
	border-top: solid 2px #333;
	border-right: solid 2px #333;
	transform: translateY(-50%);
	transform: rotate(135deg);
	transition: all .3s;
}
/* 下層メニュー内テキストエリア */
.ac-child__description {
	padding: 1em;
	background-color: #fcf4b5;
}

/* 下層アイコン変化（openクラスを付与） */
.ac-child__item.open:after {
	top: 50%;
	transform: rotate(315deg);
}

